// Primary color

$light-red: hsl(0, 100%, 67%);
$lighter-red: hsl(0, 100%, 96%);
$orangey-yellow: hsl(39, 100%, 56%);
$light-orangey-yellow: hsl(39, 100%, 96%);
$green-teal: hsl(166, 100%, 37%);
$light-green-teal: hsl(166, 100%, 96%);
$cobalt-blue: hsl(234, 85%, 45%);
$light-cobalt-blue: hsl(234, 85%, 96%);

// Gradients background

$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);

// Gradients circle

$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

// Neutral

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);
